<div class="card-panel deep-orange accent-2">
    <br>
    <div class="content-box">
    <p align="left"> <a href="#"><img src="../../assets/logo.png" alt="Logo" width="100" height="80"></a> </p>
    <p align="center" style="font-size:28px;font-family:Monaco;"><b><i>‎</i></b></p>
    <p align="right"><img src="../../assets/icon3.png" alt="Girl in a jacket" width="50" height="50">
       <a href="/login"> <img src="../../assets/icon4.png" alt="Girl in a jacket" width="50" height="50"></a>
   </p>
   </div>
   </div>

        <img class="rectangle" alt="Rectangle" src="../../assets/caballo2.jpg"  height="400px" width="1550px">
        <div class="text-wrapper-2">Acerca de Nosotros</div>
        <p class="p">
          Como empresa de viajes de primer nivel, nos especializamos en seleccionar viajes extraordinarios que
          satisfagan los deseos y aspiraciones únicos de cada viajero. Nuestro apasionado equipo de expertos en viajes
          se dedica a crear itinerarios perfectos y personalizados que trascienden las expectativas. Ya sea que busque
          una escapada relajante a la playa, una aventura emocionante o una inmersión cultural, estamos comprometidos a
          brindarle experiencias incomparables. Con un profundo conocimiento de los destinos más impresionantes del
          mundo y una búsqueda incesante de la excelencia, Horizon Journeys es su socio de confianza para crear
          recuerdos que durarán toda la vida.
        </p>
        